@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700&subset=latin,vietnamese,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);







#slider-h H2 {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 60px;
}
#dropdown-menu-2btn-0 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-0 .nav .link,
#dropdown-menu-2btn-0 .dropdown-item {
  font-size: 1.4em;
  color: #000000;
  font-family: 'Alegreya Sans', sans-serif;
}
#dropdown-menu-2btn-0 .navbar,
#dropdown-menu-2btn-0 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-0 .dropdown-menu a:hover,
#dropdown-menu-2btn-0 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-0 .navbar-toggler {
  color: #000000;
}
#custom-html-9 {
  /* Type valid CSS here */
}
#custom-html-9 .my-image {
  width: 100%;
}
#msg-box3-g .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-g .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-g .mbr-section-title {
  font-family: 'Alegreya Sans', sans-serif;
}
#content5-k .mbr-section-title {
  font-family: 'Alegreya Sans', sans-serif;
}
#content5-l .mbr-section-title {
  font-family: 'Alegreya Sans', sans-serif;
}
#content4-m H4 {
  font-size: 17px;
  font-family: 'Alegreya Sans', sans-serif;
}
#form2-p .mbr-section-title {
  font-family: 'Alegreya Sans', sans-serif;
}


#dropdown-menu-2btn-q .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-q .nav .link,
#dropdown-menu-2btn-q .dropdown-item {
  font-size: 1.4em;
  color: #000000;
  font-family: 'Alegreya Sans', sans-serif;
}
#dropdown-menu-2btn-q .navbar,
#dropdown-menu-2btn-q .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-q .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-q .dropdown-menu a:hover,
#dropdown-menu-2btn-q .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-q .navbar-toggler {
  color: #000000;
}
#image1-x DIV {
  text-align: center;
}
#form1-t .mbr-section-title {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}
